## Data prep

Prep data that was manually transposed from the Excel file to be Ayasdi ready.

In [1]:
import pandas as pd
import numpy as np

Vendor:  Continuum Analytics, Inc.
Package: mkl
Message: trial mode expires in 30 days

In [2]:
df = pd.read_csv("../data/KEGGs-8-zeros-filtered-transposed.csv")

In [3]:
df.head()

,Unnamed: 0,Subject,K05594,K07356,K12151,K02554,K12290,K13651,K15034,K07354,...,K06636,K07706,K00844,K00016,K11358,K01758,K00128,K01485,K04514,K03763
0,0,LS001,0.000084,0.000017,0.000094,0.000001,3.431144e-05,1.000000e-09,0.000032,1.000000e-09,...,0.000614,0.000199,0.000046,0.000680,0.000663,0.000679,0.002707,0.000910,0.002242,0.001241
1,1,LS002,0.000070,0.000113,0.000073,0.000273,3.376132e-05,0.000000e+00,0.000026,2.903190e-05,...,0.000098,0.000477,0.000106,0.001081,0.002797,0.001008,0.001936,0.000767,0.000139,0.001832
2,2,LS003,0.000070,0.000026,0.000103,0.000173,3.092168e-05,0.000000e+00,0.000029,2.571292e-05,...,0.000141,0.000460,0.000237,0.001119,0.002388,0.001050,0.002073,0.000838,0.000101,0.001857
3,3,LS004,0.000044,0.000019,0.000067,0.000117,1.838560e-05,0.000000e+00,0.000017,1.895162e-05,...,0.000392,0.000682,0.000083,0.001254,0.002308,0.001081,0.002079,0.000698,0.000159,0.001782
4,4,LS005,0.000006,0.000001,0.000003,0.000011,5.542424e-07,2.196436e-06,0.000017,1.103540e-07,...,0.000234,0.000228,0.000323,0.001902,0.001954,0.001144,0.001278,0.000835,0.000187,0.001735

In [4]:
df = df.iloc[:,1:]
df.head()

,Subject,K05594,K07356,K12151,K02554,K12290,K13651,K15034,K07354,K05375,...,K06636,K07706,K00844,K00016,K11358,K01758,K00128,K01485,K04514,K03763
0,LS001,0.000084,0.000017,0.000094,0.000001,3.431144e-05,1.000000e-09,0.000032,1.000000e-09,0.000023,...,0.000614,0.000199,0.000046,0.000680,0.000663,0.000679,0.002707,0.000910,0.002242,0.001241
1,LS002,0.000070,0.000113,0.000073,0.000273,3.376132e-05,0.000000e+00,0.000026,2.903190e-05,0.000019,...,0.000098,0.000477,0.000106,0.001081,0.002797,0.001008,0.001936,0.000767,0.000139,0.001832
2,LS003,0.000070,0.000026,0.000103,0.000173,3.092168e-05,0.000000e+00,0.000029,2.571292e-05,0.000019,...,0.000141,0.000460,0.000237,0.001119,0.002388,0.001050,0.002073,0.000838,0.000101,0.001857
3,LS004,0.000044,0.000019,0.000067,0.000117,1.838560e-05,0.000000e+00,0.000017,1.895162e-05,0.000011,...,0.000392,0.000682,0.000083,0.001254,0.002308,0.001081,0.002079,0.000698,0.000159,0.001782
4,LS005,0.000006,0.000001,0.000003,0.000011,5.542424e-07,2.196436e-06,0.000017,1.103540e-07,0.000000,...,0.000234,0.000228,0.000323,0.001902,0.001954,0.001144,0.001278,0.000835,0.000187,0.001735

In [5]:
keggs = df.columns[1:]

In [6]:
keggs_simple = [kegg.split("(")[0] for kegg in keggs]

In [7]:
df.columns = ["Subject"] +  keggs_simple

In [8]:
df.head()

,Subject,K05594,K07356,K12151,K02554,K12290,K13651,K15034,K07354,K05375,...,K06636,K07706,K00844,K00016,K11358,K01758,K00128,K01485,K04514,K03763
0,LS001,0.000084,0.000017,0.000094,0.000001,3.431144e-05,1.000000e-09,0.000032,1.000000e-09,0.000023,...,0.000614,0.000199,0.000046,0.000680,0.000663,0.000679,0.002707,0.000910,0.002242,0.001241
1,LS002,0.000070,0.000113,0.000073,0.000273,3.376132e-05,0.000000e+00,0.000026,2.903190e-05,0.000019,...,0.000098,0.000477,0.000106,0.001081,0.002797,0.001008,0.001936,0.000767,0.000139,0.001832
2,LS003,0.000070,0.000026,0.000103,0.000173,3.092168e-05,0.000000e+00,0.000029,2.571292e-05,0.000019,...,0.000141,0.000460,0.000237,0.001119,0.002388,0.001050,0.002073,0.000838,0.000101,0.001857
3,LS004,0.000044,0.000019,0.000067,0.000117,1.838560e-05,0.000000e+00,0.000017,1.895162e-05,0.000011,...,0.000392,0.000682,0.000083,0.001254,0.002308,0.001081,0.002079,0.000698,0.000159,0.001782
4,LS005,0.000006,0.000001,0.000003,0.000011,5.542424e-07,2.196436e-06,0.000017,1.103540e-07,0.000000,...,0.000234,0.000228,0.000323,0.001902,0.001954,0.001144,0.001278,0.000835,0.000187,0.001735

In [9]:
df.Subject

0              LS001
1              LS002
2              LS003
3              LS004
4              LS005
5              LS006
6              LS007
7       CD-SRS301865
8       CD-SRS301866
9       CD-SRS301867
10      CD-SRS301868
11      CD-SRS301869
12      CD-SRS301870
13      CD-SRS301871
14      CD-SRS301872
15      CD-SRS301873
16      CD-SRS301874
17      CD-SRS301875
18      CD-SRS301876
19      CD-SRS301877
20      CD-SRS301878
21      CD-SRS301879
22      UC-SRS071964
23      UC-SRS071970
24      UC-SRS071978
25      UC-SRS071981
26      UC-SRS071982
27      UC-SRS071988
28      HE-SRS011061
29      HE-SRS011084
           ...
50      HE-SRS015663
51      HE-SRS016018
52      HE-SRS016095
53      HE-SRS016335
54      HE-SRS016495
55      HE-SRS017103
56      HE-SRS017433
57      HE-SRS018427
58      HE-SRS018656
59      HE-SRS020328
60      HE-SRS020869
61      HE-SRS022713
62      HE-SRS016585
63       # subjects
64               MAX
65               MIN
66             # HE
67            Max HE
68            Min HE
69            Ave HE
70            Ave CD
71            AVE UC
72            AVE LS
73     max HE/Ave HE
74     AVE LS/AVE HE
75      LS001/Ave HE
76     Ave CD/Ave HE
77     Ave UC/Ave HE
78    sick person/HE
79      AL HE/Ave HE
Name: Subject, dtype: object

In [14]:
df["Cohort"]= df.Subject.apply(lambda x: x[0:2])

In [15]:
df.Cohort

0     LS
1     LS
2     LS
3     LS
4     LS
5     LS
6     LS
7     CD
8     CD
9     CD
10    CD
11    CD
12    CD
13    CD
14    CD
15    CD
16    CD
17    CD
18    CD
19    CD
20    CD
21    CD
22    UC
23    UC
24    UC
25    UC
26    UC
27    UC
28    HE
29    HE
      ..
50    HE
51    HE
52    HE
53    HE
54    HE
55    HE
56    HE
57    HE
58    HE
59    HE
60    HE
61    HE
62    HE
63    #
64    MA
65    MI
66    #
67    Ma
68    Mi
69    Av
70    Av
71    AV
72    AV
73    ma
74    AV
75    LS
76    Av
77    Av
78    si
79    AL
Name: Subject, dtype: object

In [16]:
df.to_csv("../data/KEGGs-8-zeros-filtered-transposed.csv")